<h1>Administracion de Edificios</h1>
<img src="https://w7.pngwing.com/pngs/405/859/png-transparent-building-cartoon-facade-building-service-condominium-apartment-thumbnail.png">
<a class = "btn btn-primary" style =" color: white" href="/buildings">Edificios</a>
<a class = "btn btn-secondary" style="color: white" href="/apartaments">Departamentos</a>
